<div class="d-flex flex-column h-100">
    <div class="bg-secondary pt-5">
        <div class="bg-info pb-4">
            <div class="d-flex mx-4">
                <div class="flex-grow-1 p-1 position-relative progress-0" [ngClass]="{'progress-100': step > 1}">
                    <span class="icon-travel-car icon bg-primary"></span>
                </div>
                <div class="flex-grow-1 p-1 position-relative progress-0"  [ngClass]="{'progress-100': step > 2}">
                    <span class="icon-location icon"></span>
                </div>
                <div class="flex-grow-1 p-1 position-relative progress-0"  [ngClass]="{'progress-100': step > 3}">
                    <span class="icon-file-text icon"></span>
                </div>
                <div class="flex-grow-1 p-1 position-relative progress-0"  [ngClass]="{'progress-100': step > 4}">
                    <span class="icon-price icon"></span>
                </div>
                <div class="px-3 position-relative progress-0"  [ngClass]="{'progress-100': step > 4}">
                    <span class="icon-checkmark-outline icon"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-around w-100 h-50">
        <div class="w-100 p-4 text-center flex-grow-1 hide" [ngClass]="{'show' : step === 1}">
            <h2>Your Vehical Details</h2>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Select Year</option>
                <option [value]="item" *ngFor="let item of years">{{item}}</option>
            </select>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Select Make</option>
                <option [value]="item" *ngFor="let item of makers">{{item}}</option>
            </select>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Select Model</option>
                <option [value]="item" *ngFor="let item of model">{{item}}</option>
            </select>
        </div>

        <div class="w-100 p-4 text-center flex-grow-1 hide" [ngClass]="{'show' : step === 2}">
            <h2>Your Address Details</h2>

            <div class="row g-3">
                <div class="col-12">
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputCity" placeholder="City">
                </div>
                <div class="col-6">
                    <select id="inputState" class="form-select">
                        <option selected>Choose State</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="w-100 p-4 text-center flex-grow-1 hide" [ngClass]="{'show' : step === 3}">
            <h2>Your Personnel Details</h2>
            <div class="row g-3">
                <div class="col-12">
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Write your Email">
                </div>
                <div class="col-12">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
        </div>

        <div class="w-100 p-4 text-center flex-grow-1 hide" [ngClass]="{'show' : step === 4}">
            <h2>Car Cost details</h2>
            <div class="row g-3">
                <div class="col-12">
                    Your vehical Costing Details: 
                </div>
            </div>
        </div>

        <div class="w-100 p-4 text-center flex-grow-1 hide" [ngClass]="{'show' : step === 5}">
            <h2>Your Information</h2>
            <div class="row g-3">
                <div class="col-12">
                    Your Details:  
                </div>
            </div>
        </div>

        <div class="p-4">
            <button class="btn btn-warning m-2" (click)="back()" [ngClass]="{'hide' : step === 1}">Back</button>
            <button class="btn btn-warning m-2" (click)="continue()">{{step > 4? 'Submit' : 'Continue' }}</button>
        </div>
    </div>
</div>